/* Global
----------------------------------------------------------*/
html{
  font-size: 100%;
}

*{
  -webkit-box-sizing: padding-box; /* Safari/Chrome, other WebKit */
  -moz-box-sizing: border-box;    /* Firefox, other Gecko */
  box-sizing: border-box;        /* Opera/IE 8+ */
  -ms-box-sizing: border-box;
}
body{
  font-size: 16px;
}

html,
body {
  height: 100%;
}

/* Wrapper Panel
----------------------------------------------------------*/


/* Linea
----------------------------------------------------------*/
.linea{
  width: 100%;
  background-color: gray;
  height: 10px;
  margin: 0;
}
/* Cabecera
---------------------------------------------------------*/
header{
  width: 100%;

}
.tattler{
  color: #FFF;
  background-color: #199BD7;
  margin: 0;
}
.tattler h1{
  margin: 0;
  text-align: center;
}

/* FOoter
---------------------------------------------------------*/
footer{
  width: 100%;
  background-color: #199BD7;
  color: #FFF;
  text-align: center;
  height: 4em;
  padding-top: 20px;
}
/* banner promociones
---------------------------------------------------------*/
.banner-ofertas{
  margin:0 auto;
  padding-bottom: 0;
  width: 51.5em;
  height: 12.5em;
  text-align: center;
}
.promo{
  width: 51.5em;
  height: 12.5em;
  vertical-align: center;


}

/* Menu
----------------------------------------------------------*/
.menu{
  margin:0;
}
.opcion {
  display: inline-block;
  width: 15.9em;
  background-color:red;
  height:2.5em;
  text-align: center;
  margin:0;
  padding:0;
}
.opcion a{
  margin:0;
  color: white;
  font-weight:bold;
}
nav{
  position:relative;
  right:0;
  left:0;
}
/* Wrapper Chat
----------------------------------------------------------*/
#wrap {
  display: block;

  width: 95%;
  height: 100%;
  margin: 0 auto;
  padding: 30px 0;
}

#wrap .panel-heading {
  position: relative;
}
#wrap .panel-heading button {
  position: absolute;
  top: 0;
  right: 0;
  font-size: 18px;
  color: #fff !important;
  background: none;
  outline: 0;
}

#wrap .panel-heading button:hover {
  opacity: 0.7;
}
#wrap .panel-body {
  padding: 0;
}

/*Agregar usuario
----------------------------------------------------------*/
#add{

  font-size: 1em;
  color: red !important;
  background: none;
  outline: 0;
}
#nom-client{
  color:blue;
  font-weight: bolder;
  font-size: .8em;
}
/* Chat Module
----------------------------------------------------------*/
/* Chats */
.chat .chat-content {
  overflow: hidden;
  height: 100%;
  padding: 0 2px;
  background: #ececec;
}
.chat .messages {
  position: relative;
  overflow: auto;
}
.chat .controls {
  height: 42px;
  padding: 4px 2px;
}

/* Users List */
.chat-user-list {
  float: left;
  width: 200px;
  height: 100%;
  overflow: auto;
}
.list-group-item {
  color: #555 !important;
  border-left: 0;
  border-right: 0;
  border-radius: 0 !important;
}
.list-group-item.btn {
  text-align: left;
}
.list-group-item img {
  width: 23px;
  vertical-align: text-top;
}
.cambiar{
  color:red !important;
}
.unread{
  color:orange !important;
}
/* Messages */
.message {
  padding: 5px;
}
.messages{
  height: 250px;
  overflow: scroll;
}
.message.white {
  background: #fff;
}
.message time {
  float: right;
  font-size: 13px;
  color: #999;
}
.message .message-description {
  word-wrap: break-word;
}
.message .message-attach {
  margin-top: 7px;
  padding-top: 7px;
  font-size: 13px;
  border-top: 1px solid #ccc;
}

.typing-message {
  padding: 5px;
  font-size: 13px;
  color: #999;
  background: #fff;
}

.service-message {
  padding: 5px;
  font-size: 13px;
  opacity: 0;
}

/* Loading */
.loading {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  width: 50px;
  height: 50px;
  margin: auto;
}
.file-loading {
  display: none;
  line-height: 34px;
  text-align: center;
}
.file-loading img {
  position: relative;
  top: -2px;
  width: 23px;
  height: 23px;
}
.search-loading {
  width: 40px;
  height: 40px;
}

/* Attach file */
.uploader {
  position: relative;
}
.uploader:hover .glyphicon-file {
  opacity: 0.7;
}
.uploader input[type="file"] {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  opacity: 0;
}
.uploader .attach {
  display: none;
  position: absolute;
  top: -40px;
  left: 0;
  padding: 10px;
  color: #fff;
  background: rgba(0, 0, 0, 0.6);
  border-radius: 3px;
}
.attach .file {
  padding-right: 25px;
  font-size: 13px;
}
.attach .file .close {
  position: absolute;
  top: 6px;
  right: 10px;
  color: #fff;
  opacity: 1;
}
.attach .file .close:hover {
  color: #000;
  opacity: 0.5;
}
