<!-- CHat -->
	<section id="wrap">
		<div class="panel panel-primary">
			<div class="panel-heading">
				<h3 class="panel-title">Sucursal: Pizza Hut<span class="opponent"></span></h3>

				<button type="button" id="config" class="btn tooltip-title" data-toggle="tooltip" data-placement="bottom" title="Configuración">
					<span class="glyphicon glyphicon glyphicon-cog"></span>
				</button>
			</div>
			<div class="chat panel-body">
				<ul class="chat-user-list list-group"></ul>
				<div class="chat-content">
					<div id="cliente">
						<span id="nom-client"></span>
						<button type="button" id="add" class="btn tooltip-title" data-toggle="tooltip" data-placement="bottom" title="Añadir">
							<span class="glyphicon glyphicon-user"></span>
						</button>
					</div>
					<div class="messages">

					</div>
					<form action="#" class="controls">
						<div class="input-group">
							<span class="uploader input-group-addon">
								<span class="glyphicon glyphicon-paperclip"></span>
								<input type="file" class="tooltip-title" data-toggle="tooltip" data-placement="right" title="Attach file">
								<div class="attach"></div>
							</span>
							<input type="text" class="form-control" placeholder="Enter your message here..">
							<span class="input-group-btn">
								<button type="submit" class="sendMessage btn btn-primary">Send</button>
							</span>
						</div>
						<div class="file-loading bg-warning">
							<img src="./images/file-loading.gif" alt="loading">
							Please wait.. File is loading
						</div>
					</form>
				</div>
			</div>
		</div><!-- .panel -->
	</section><!-- #wrap -->
