<div class="container-fluid">
        <div class="form-box" id="login-box">
            <div class="header tattler-background">
                <img src="components/app-data/img/home/logo_tattler.png" class="img-responsive img-responsive-center" alt="tattler" >
            </div>
            <form role="form" novalidate name="userForm" ng-submit="UserLogin(user)" ng-class="showValidation ? 'validate' : ''">
                <div class="body bg-gray">
                    <div class="form-group">
                        <input class="form-control" type="email" placeholder="e-mail" name="email" id="emailfield" ng-pattern="/\w+([-+.']\w+)*@\w+([-.]\w+)*\.\w+([-.]\w+)*/" ng-model="user.email" required/>
                        <div class="error" ng-show="showValidation">
                            {{getError(userForm.email.$error)}}
                        </div>
                    </div>
                    <div class="form-group">
                        <input type="password" name="password" id="passwordfield" class="form-control" placeholder="Contrase&ntilde;a" ng-model="user.password" ng-Minlength="6" required/>
                        <div class="error" ng-show="showValidation" >
                            {{getError(userForm.password.$error)}}
                        </div>
                    </div>          
                    <div class="form-group">
                        <input type="checkbox" name="remember_me"/> Recordar contrase&ntilde;a
                    </div>
                </div>
                <div class="footer text-center">                                                               
                    <button type="submit" class="btn btn-primary submit-button-text btn-block" ng-disabled="submitProgress">Iniciar sesi&oacute;n</button>
                    <p><a href="#">¿Olvid&oacute; su contrase&ntilde;a?</a></p>
                </div>            
                <div ng-class="successfull ? 'alert alert-success alert-dismissable' : 'alert alert-warning alert-dismissable'" ng-show="showMessage">
                    <div class="text-center" ng-show="successfull"><strong>Gracias por contactarnos,</strong> en breve nos comunicaremos con usted.</div>
                    <div class="text-center" ng-hide="successfull">El usuario o contrase&ntilde;a son incorrectas.</div>
                </div>
            </form>
        </div>
        <div class="col-md-3 col-md-offset-2">  

        </div>
        <div class="register-box">
            <div class="register-header tattler-background">
                ¡Registrate es gratis!
            </div>
            <div class="register-body">
                <a class="btn btn-primary submit-button-text btn-block" href="#/register" role="button">Registrar empresa</a>
            </div>
        </div>
</div>